* {
    font-family: 'Signika Negative', 'sans-serif';
}

.payment-body {
    width: 35%;
}

.payment-container {
    margin-top: 20px;
    border: 2px solid #E74646;
    background: #FFF;
}

.payment-in4 table tr th {
    
}

.payment-in4 table .amout {
    color: #E74646;
    font-weight: bold;
}

.payment-in4 table .error-code {
    color: #E74646;
    font-weight: bold;
}

.pay-header {
    text-align: center;
    background-color: #E74646;
    padding: 10px;
}

.pay-header h5 {
    color: #fff;
    margin-bottom: 0;
}

.pay-img {
    text-align: center;
    margin-top: 10px;
}

.pay-img h4 {
    margin-top: 10px;
}

.break {
    margin: 10px auto;
    display: flex;
    align-items: center;
}

.break .line {
    height: 1px;
    width: 100%;
    background-color: #dbdbdb;
    flex: 1;
}

.break span {
    color: #ccc;
    padding: 0 16px;
    text-transform: uppercase;
    font-size: 18px;
}

.thanks {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

.payment-footer {
    margin-top: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}